httpx==0.27.0
openai==1.37.0
pillow==12.3.0
pdfix-sdk @ https://dl.pdfix.net/builds/pdfix-sdk/master/f47c80aae3bf2db87ed96ec84b62e1b6d4343a92/python/pdfix_sdk-9.2.0-py3-none-any.whl
# pdfix-sdk==9.2.0
requests==2.33.1
tqdm==4.67.1
types-requests==2.33.0.20260408
urllib3==2.7.0
